/node_modules
/public/hot
/public/storage/media
/public/storage/messenger-threads
/public/storage/profile-photos
/public/storage/upload
/public/css
/public/js
/public/fonts
/public/webfonts
/storage/*.key
/vendor
.env
.phpunit.result.cache
ds.sh
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
mix-manifest.json
yarn-error.log
/.idea
/.vscode
/.history
